<?php

define('DSN','mysql:host=localhost;dbname=nittfest14');
define('DB_USER','root');
define('DB_PASS','');

/*$SQLuser='root';
$SQLpassword='rajkarthick';
$SQLserver='localhost';
$SQLport='3306';
$SQLdatabase='nittfest';*/
