
@font-face{
	font-family: tamil;
	src: url(ADAANA.TTF);
}
.Hindi{
}
.Tamil{
	font-family: tamil;
	font-size: 20px;
	line-height: 14px;
}
.English{
}
*{
	padding: 3px;
}
fieldset{
	padding: 0px;
}
fieldset ul,fieldset ol{
	padding-left: 40px;
}
html{
	background-color: #b78b44;
	padding: 0px;
	margin: 0px;
	background-image: url('../images/noise.png');
	background-attachment: fixed;
	background-repeat: repeat;
}
body{
	width: 1000px;
	margin: 20px auto;
	display: block;
	padding: 20px;
	color: #592b00;
	font-size: 1em;
	font-family: Ubuntu,Calibri,sans-serif;
	background-color: #a16000;
	box-shadow: 0px 0px 20px 10px #895000;
	border-radius: 15px;
}
.clear{
	clear: both;
	float: none;
}
.tip{
	font-size: 12px;
}
.required{
	color: #a00;
}
.action{
	padding-left: 0px;
	padding-right: 0px;
}
.disabled{
	opacity: 0.5;
}
.thumbnail{
	width:100px;
	height: auto;
	border: none;
}
#header{
	text-align: center;
	padding: 0px;
	margin: 5px 0px;
	margin-top: 0px;
	font-size: 1.8em;
	background-color: #c69f66;
	border-radius: 20px;
}
input[type=text],input[type=password]{
	background-color: #ffed71;
	width: 200px;	
}
#header a:link,#header a:visited{
	 color: #732;
	 text-decoration: none;
}
#header a:hover,#header a:active{
	 text-decoration: underline;
}
#content{
	background-color: #b78b44;
	margin: 10px 0px;
	padding: 10px;
	border-radius: 10px;
}
#content a:link,#content a:visited{
	 color: #123478;
	 text-decoration: none;
}
#content a:hover,#content a:active{
	 color: #25d;
}
.error{
	border: 2px solid #a11;
	background-color: #e66;
	padding: 10px;
	margin: 10px 0px;
	font-size: 0.8em;
	border-radius: 10px;
}
.info{
	border: 2px solid #1a1;
	background-color: #6b6;
	padding: 10px;
	margin: 10px 0px;
	font-size: 0.8em;
	border-radius: 10px;
}
a.delete:link,a.delete:visited{
	color: #a11 !important;
}
#forgotlink{
	font-size: 0.8em;
}
#register{
	float: right;
	margin: 0px 10px;
	background-color: #999;
	border-radius: 10px;
}
#login-actions{
	margin-left: 30px;
}
#logout{
	display: block;
	text-align: center;
	font-size: 1em;
	background-color: #c69f66;
	border-radius: 10px;
}
#logout a:link,#logout a:visited{
	color: #a22;
}
#footer{
	font-size: 0.6em;
	text-align: center;
	color:#333;
	margin: 20px 0px;
	background-color: #c69f66;
	border: 1px solid #777;
	border-radius: 5px;
}
#scoreslist{
	margin-left: 20px;
}
